$backgroundCssCode:rgba(64, 26, 32, .5);
$backgroundCssCodes:rgba(64, 26, 32, 1);
$backgroundHtmlCodes:rgba(229, 93, 115, 1);
$backgroundHtmlCodes:rgba(229, 93, 115, 1);
$backgroundHtmlCodes:rgba(229, 93, 115, 1);
$backgroundSintaxisCodes:rgba(255, 104, 128, 1);
$backgroundSintaxisCodes:rgba(127, 52, 64, 1);
$backgroundSintaxisCodes:rgba(221, 90, 111, 1);
section {
    border-top: 2px solid teal;
}

body {
    background: rgba(205, 133, 63, .2);
}

.universar-children * {
    color: rgba(79, 23, 23, 1);
}

.ClassSelector {
    color: rgba(0, 100, 60, 1);
}

#IdValue {
    color: rgba(0, 165, 200, 1);
}

.html-code-container {
    h3 {
        margin: 0;
    }
    code {
        letter-spacing: 1px;
    }
    .NumberLine {
        width: 2em;

        ul {
        	background: green;
        	padding:5px;
            list-style: none;
            li {
            	background: yellow;
            }
        }
    }
    .code {}
}

.css-code-container {
    display: flex;
    h3 {}
    pre {}
}

.html-code-container,
.css-code-container,
.sintaxis-css {
    background: $backgroundCssCode;
    width: 50%;
    border-radius: 2px;
    h3,
    code {
        text-align: center;
        display: block;
        padding: 5px;
    }
}
