ul.main-menu#main-menu
  li: a(href="/").active Home
  li: a(href="/selectors.html") CSS3
   ul
    li: a(href="/selectors.html") selectors
    li: a(href="/selectors.html") Img
    li: a(href="/selectors.html") flexbox
    li: a(href="/selectors.html") Video
    li: a(href="/selectors.html") Menus
  li: a(href="") Services
  li: a(href="") Gallery
  li: a(href="") Blog
  li: a(href="") Contact
