extends templates/template
block main
	.main
		h1 What is Lorem Ipsum?
		p "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, dipisci velit..." "There is no one who loves pain itself, who seeks after it and wants toh ave it, simply because it is pain..."
		section
			div
				div Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div
				div
		section
			div
				div
		section
		section
		section
		section
		section
		section
		section
		section
		section
		section
		section
		section
		section
