extends templates/template
block main
	.main.ed-container
		h2.title-main What is Lorem Ipsum?
		p "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, dipisci velit..." "There is no one who loves pain itself, who seeks after it and wants toh ave it, simply because it is pain..."
		section.section-container
			h3.title-container What is Lorem Ipsum?
			div.container-boxes-parent
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		section.section-container
			h3.title-container What is Lorem Ipsum?
			div.container-boxes-parent
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		section.section-container
			h3.title-container What is Lorem Ipsum?
			div.container-boxes-parent
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		section.section-container
			h3.title-container What is Lorem Ipsum?
			div.container-boxes-parent
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		section.section-container
			h3.title-container What is Lorem Ipsum?
			div.container-boxes-parent
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		section.section-container
			h3.title-container What is Lorem Ipsum?
			div.container-boxes-parent
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		section.section-container
			h3.title-container What is Lorem Ipsum?
			div.container-boxes-parent
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		section.section-container
			h3.title-container What is Lorem Ipsum?
			div.container-boxes-parent
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		section.section-container
			h3.title-container What is Lorem Ipsum?
			div.container-boxes-parent
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		section.section-container
			h3.title-container What is Lorem Ipsum?
			div.container-boxes-parent
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		section.section-container
			h3.title-container What is Lorem Ipsum?
			div.container-boxes-parent
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				div.container-box
					h4.title-box What is Lorem Ipsum?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
