extends templates/template
block main
	.main
		section
			div
				div
				div
				div
		section
		section
		section
		section
		section
		section
		section
		section
		section
		section
		section
		section
		section
		section
